# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build results
[Bb]in/
[Oo]bj/
*.exe
*.pdb
*.cache
*.db
*.vsidx

# Ignore other temporary files
*.log
*.lock.json
*.generated.*
